*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: clamp(0.8rem, 2vw, 1rem);
  background-color: #3c3c3c;
  color: white;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: #2b2b2b;
  text-align: center;
  color: white;
  user-select: none;
}
header h1 {
  text-align: center;
  padding: 0.5rem;
  margin: 0;
  font-size: clamp(1.2rem, 3vw, 2rem);
}
footer p {
  margin: 0;
  padding: 0.3rem;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.task-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "new-task priority"
    "due-date category"
    "add-btn add-btn";
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #2b2b2b;
  border-radius: 5px;
}

.new-task-input,
.priority-input,
.due-date-input,
.category-input,
.add-task-btn {
  font-size: clamp(0.8rem, 2vw, 1.1rem);
  padding: 0.3rem;
  background-color: #3c3c3c;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
}
.new-task-input label,
.priority-input label,
.due-date-input label,
.category-input label {
  display: block;
  margin-bottom: 0.2rem;
  justify-self: center;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  background: radial-gradient(circle, #383838, #828282);
  width: 100%;
  text-align: center;
  border-radius: 3px;
  user-select: none;
}
.new-task-input input,
.priority-input select,
.due-date-input input,
.category-input select {
  width: 100%;
  padding: 0.3rem;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  border: 1px solid #b0b0b0;
  border-radius: 3px;
  outline: none;
  background-color: #b0b0b0;
}
.new-task-input {
  grid-area: new-task;
}
.priority-input {
  grid-area: priority;
}
.due-date-input {
  grid-area: due-date;
}
.category-input {
  grid-area: category;
}
.add-task-btn {
  grid-area: add-btn;
  cursor: pointer;
  color: white;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  user-select: none;
}

.task-list {
  flex: 1;
  background-color: #2b2b2b;
  padding: 1rem;
  border-radius: 5px;
  overflow-y: auto;
}
.task-list h2 {
  margin-top: 0;
  text-align: center;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  color: white;
  background: radial-gradient(circle, #383838, #828282);
  user-select: none;
}

.sort-count {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: 2rem;
  font-size: clamp(0.8rem, 2vw, 1rem);
  margin: 0.5rem 0;
  padding: 0.2rem 1rem;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  user-select: none;
}
.sort-count label {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: right;
}
#sortById,
#sortByPriority,
#sortByCategory {
  transform: scale(1.3);
  cursor: pointer;
}
.total {
  margin-right: auto;
}

.task-list ul {
  list-style: none;
  padding: 0 2rem 0 2rem;
}

.task-list li {
  background-color: #3c3c3c;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.done-checkbox {
  transform: scale(1.3);
  cursor: pointer;
}
.task-deadline,
.task-id,
.task-priority,
.task-category {
  font-size: clamp(0.7rem, 2vw, 1rem);
  margin: 0.3rem 0 0.3rem 0;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  background: radial-gradient(circle, #383838, #828282);
  min-width: 7rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.task-id {
  min-width: 2.5rem;
}
.task-priority {
  min-width: 5rem;
}
.task-category {
  min-width: 7rem;
}
.task-text {
  font-size: clamp(0.7rem, 2vw, 1.2rem);
  margin: 0.3rem auto 0.3rem 0.3rem;
}
.deleteBtn {
  padding: 0.3rem 0.6rem;
  font-size: clamp(0.7rem, 2vw, 1rem);
  background-color: #580d0d;
  color: white;
  border: none;
  height: 2rem;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
