*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: clamp(0.8rem, 2vw, 1rem);
  background-color: #3c3c3c;
  color: white;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: #2b2b2b;
  text-align: center;
  color: white;
}
header h1 {
  text-align: center;
  padding: 0.5rem;
  margin: 0;
  font-size: clamp(1.2rem, 3vw, 2rem);
}
footer p {
  margin: 0;
  padding: 0.3rem;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.task-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "new-task priority"
    "due-date add-btn";
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #2b2b2b;
  border-radius: 5px;
}

.new-task-input,
.priority-input,
.due-date-input,
.add-task-btn {
  font-size: clamp(0.8rem, 2vw, 1.1rem);
  padding: 0.3rem;
  background-color: #3c3c3c;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
}
.new-task-input label,
.priority-input label,
.due-date-input label {
  display: block;
  margin-bottom: 0.2rem;
  justify-self: center;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  background: radial-gradient(circle, #383838, #828282);
  width: 100%;
  text-align: center;
  border-radius: 3px;
}
.new-task-input input,
.priority-input select,
.due-date-input input {
  width: 100%;
  padding: 0.3rem;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  border: 1px solid #b0b0b0;
  border-radius: 3px;
  outline: none;
  background-color: #b0b0b0;
}
.new-task-input {
  grid-area: new-task;
}
.priority-input {
  grid-area: priority;
}
.due-date-input {
  grid-area: due-date;
}
.add-task-btn {
  grid-area: add-btn;
  cursor: pointer;
  color: white;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}

.task-list {
  flex: 1;
  background-color: #2b2b2b;
  padding: 1rem;
  border-radius: 5px;
  overflow-y: auto;
}
.task-list h2 {
  margin-top: 0;
  text-align: center;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  color: white;
  background: radial-gradient(circle, #383838, #828282);
}
