*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: clamp(0.8rem, 2vw, 1rem);
  background-color: #3c3c3c;
  color: white;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: #2b2b2b;
  text-align: center;
  color: white;
}
header h1 {
  text-align: center;
  padding: 0.5rem;
  margin: 0;
  font-size: clamp(1.2rem, 3vw, 2rem);
}
footer p {
  margin: 0;
  padding: 0.3rem;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.task-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "new-task priority"
    "due-date add-btn";
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #2b2b2b;
  border-radius: 5px;
}